@charset "utf-8";
body {
	background-color: #BBCEE6;
	color: #1E3976;
	font-family: Arial, Helvetica, sans-serif, 'Segoe UI';
	font-size: 12pt;
}

#current-version {
	/*background-color: #2A7E2B;*/
    background: radial-gradient(circle, #78BC78, #489948, #2A7E2A);
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
}

#old-version {
    /*background-color: #E4532F;*/
    background: radial-gradient(circle, #FF9A82, #F77557, #E4522F);
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.table {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

a {
	color: #1E3977;
}