<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KryptonToolkitUpdater.Settings.UpdatePackageInformationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KryptonToolkitUpdater.Settings.ThemeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KryptonToolkitUpdater.Settings.UpdaterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <KryptonToolkitUpdater.Settings.UpdatePackageInformationSettings>
            <setting name="ChangelogURL" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadURL" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="FileSize" serializeAs="String">
                <value />
            </setting>
            <setting name="XMLUpdatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MD5CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="SHA1CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="SHA256CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="SHA384CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="SHA512CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="RIPEMD160CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="VirusTotalURL" serializeAs="String">
                <value />
            </setting>
            <setting name="BetaFlag" serializeAs="String">
                <value>False</value>
            </setting>
        </KryptonToolkitUpdater.Settings.UpdatePackageInformationSettings>
        <KryptonToolkitUpdater.Settings.ThemeSettings>
            <setting name="UseOffice2013ThemePalette" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOffice2013SilverTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOffice2013WhiteTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOffice2010ThemePalette" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseOffice2010BlackTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOffice2010BlueTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseOffice2010SilverTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOffice2007ThemePalette" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOffice2007BlackTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOffice2007BlueTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOffice2007SilverTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseProfessionalThemePalette" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseProfessionalOffice2003Theme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseProfessionalSystemTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSparkleThemePalette" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSparkleBlueTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSparkleOrangeTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSparklePurpleTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOtherThemePalettes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCustomTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomThemePaletteFileLocation" serializeAs="String">
                <value />
            </setting>
        </KryptonToolkitUpdater.Settings.ThemeSettings>
        <KryptonToolkitUpdater.Settings.UpdaterSettings>
            <setting name="AlwaysCheckInternetConnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysAskForDownloadLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowProgressBarInTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VerifyDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaunchUpdatePackageUponDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysShowTrayNotificationIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseGarbageCollection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsConnectedToTheInternet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="PingAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="DateOfLastCheck" serializeAs="String">
                <value />
            </setting>
        </KryptonToolkitUpdater.Settings.UpdaterSettings>
    </userSettings>
</configuration>