<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="KryptonExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" /></startup><userSettings>
        <KryptonExplorer.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Office 2010 - Blue</value>
            </setting>
        </KryptonExplorer.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Krypton Toolkit" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.470.1254.0" newVersion="5.470.1254.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
